<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="/static/acessonegado.css">
    <meta charset="utf-8">
    <title>Acesso negado!!</title>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand site" href="/">Qual SeU PedidO?</a>
            </div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="/perfil/">Perfil</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sobre/">Sobre</a></li>
                    <li><a id="titulo" href="#">Comidas Bedidas Lanches #tudo num só lugar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{session.usuario}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a ><form action="/logout/">
                          <input type="submit" value="Sair">
                          </form></a></li>
                        </ul>
                      </li>
                </ul>
        </div>
    </nav>


<div class="container form">
  <form class="form-horizontal" method="POST">
    <fieldset>
      <div id="legend">
        <legend class="">ATENÇÃO!!</legend>
      </div>

      <div class="control-group">
        <div class="controls">
          <h3>Caro usuario, somente o usuario administrador tem acesso a essa pagina</h3>
        </div>
      </div>

    </fieldset>
  </form>

</div>
</div>
</div>


  </body>

</html>
