<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Seja bem-vindo</title>
  </head>
  <body>



    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand site" href="/">Qual SeU PedidO?</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="/perfil/">Perfil</a></li>
          <li class=""><a href="#">Home</a></li>
          <li><a href="/sobre/">Sobre</a></li>
          <li><a id="titulo" href="#">Comidas Bedidas Lanches #tudo num só lugar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{session.usuario}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ><form action="/logout/">
                  <input type="submit" value="Sair">
              </form></a></li>
              </ul>
            </li>
          </ul>
      {% if session.usuario == "admin" %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a id="dark" class="dropdown-toggle" data-toggle="dropdown" href="#">Acessos<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class=""><a href="/inserir/">Inserir itens</a></li>
                <li class=""><a href="/cadastroempresa/">Inserir empresas</a></li>
                <li class=""><a href="/pedidos/">Pedidos</a></li>
                <li class=""><a href="/empresas/">Empresas</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>


  <div class="container">
      {% if msg_error %}
      <pre style="color:red">{{ msg_error}}</pre>
    {% endif %}
    <h2 id="none">Qual sua escolha do dia :)</h2>
    {% for e in empresas %}
    <a href="/detalhes/{{e.id}}/"><img class="icons" src="{{e.foto_url}}"   alt=""></a>
    {% endfor %}
</div>
<div class="container bot">
  <a href="/login/" method="GET" ><i class="fas fa-user"></i>Logar</a>
  <a href="/cadastro/"><i class="fas fa-user-plus"></i>Resgistre-se</a>
</div>



  </body>

</html>
