
.header {
    padding: 10px 16px;
    /* background: #441901; */
    background: rgb(153, 0, 0);
    color: #f1f1f1;
    text-align: center;
    margin-top: auto;
    font-family: 'Gloria Hallelujah', cursive;
  }
  .banner{
    margin-left: 35%;
    font-size: 25px;
    margin-top: 5%;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: normal !important;
  }
  #tst{
    letter-spacing: 10px;
    font-size: 24pt;;
  }
  
  body{
    background-image: url("/static/lagosta.jpg");
    width: auto;
    height: auto;
    background-size: auto;
  }
  .navbar-inverse{
    background: rgb(153, 0, 0);
    border: none;
    padding: 10px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  .site{
    background-color: rgb(120, 0, 0) !important;
  }
  
  #titulo{
    font-size: 20px;
  }
  .itens{
    width: 50%;
  }
  .form{
      background-color: green;
      padding: 60px;
      font-family: 'Gloria Hallelujah', cursive;
      background-color: rgba(68, 25, 1, 0.7);
      color: white;
  }
  input{
    width: 100%;
    color: black;
  }

  select{
    color: black;
  }
  legend{
    text-align: center;
    color: white;
  }
  .controls{
    padding-top: 20px;
  }
  