
h2{
    color: black;
    opacity: 100% !important;
    
}
    
body{
    background-image: url("/static/lagosta.jpg");
    width: auto;
    height: auto;
    background-size: auto;
}
.navbar-inverse{
    background: rgb(153, 0, 0) !important;
    border: none !important;
    padding: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}
#titulo{
    font-size: 20px;
}
    
.footer{
    position: absolute;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: rgba(68, 25, 1, 0.7);
    color: white;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
    
.navbar{
    text-align: left;
    color: red;
}

.site{
    background-color: rgb(120, 0, 0) !important;
  }

.header {
    padding: 10px 16px;
    /* background: #441901; */
    background: rgb(153, 0, 0);
    color: #f1f1f1;
    text-align: center;
    margin-top: auto;
    font-family: 'Gloria Hallelujah', cursive;
}
    
#tst{
    letter-spacing: 10px;
}

.fa{
    padding: 25px;
    font-size: 25px !important;
    width: 70px;
    border-radius: 50%;
    text-decoration: none !important;
    margin: 5px 2px;
}
.fa-facebook {
    background: #0000b3;
    color: white;
}
.fa-twitter {
    background:  #0000b3;
    color: white;
}
.fa-instagram {
    background:  #0000b3;
    color: white;
}
.fa:hover {
    background-color: #3B5998;
    color: red;
}
.login{
    width: 40% !important;
    margin-top: 10%;
}

.login h1{
    color: red;
    background-color: rgba(255,255,255,0.5)
}
label{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    background-color:  rgba(153, 0, 0, 0.4);
    color: white;
}
#recuperar{
    padding-top: -50px !important;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    color: rgb(177, 25, 25); ;
    text-decoration: none;
    margin-left: 3%;
}
